@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  width: 100%;
  transition-duration: 0.7s;
}

.header-active {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  position: fixed;
  box-shadow: 1px 1px 5px gray;
  width: 100%;
  transition-duration: 0.7s;
}

.Link {
  padding: 8px;
}

.Link::after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  transform: scaleX(0);
  padding: 0.2rem;
}

.Link:hover:after {
  transform: scaleX(0.5);
  transition: 0.3s linear;
}

@media (min-width: 1280px) {
  .header {
    padding-left: 160px;
    padding-right: 160px;
  }

  .header-active {
    padding-left: 160px;
    padding-right: 160px;
  }
}

@media (max-width: 1280px) {
  .Link::after {
    border-bottom: none;
  }
}
